.footer{
  background-color: var(--green);
}
.footers {
  display: flex;
  padding: 4rem 12rem;
  /* background-color: #abdbb581; */
  color: var(--darkpink);
}
.leftmid,
.rightmid,
.leftx,
.rightx {
  flex: 1;
  margin: 1rem;
}

h3{
  padding: 1rem 0;
  /* margin: 12px; */
}
h5{
  padding:9px 0;
}
.inpform{
  padding: 1rem;
  border-radius: 1rem;
  margin: 0.5em 0;
}