.wrap {position: sticky;
  display: flex;
  justify-content: space-between;
  background-color: #006859;
  box-shadow: #821414 4px 4px 4px ;
  /* padding: 0 14rem; */
  padding: var(--padding14);
  color: var(--darkpink);
  font-family: "Poppins", sans-serif;
}
.leftlogo {
  display: flex;
  align-items: center;
  /* padding: 1rem; */
  justify-content: center;
}
.imgnav {
  height: 2rem;
  border-radius: 50%;
}
.imgnav:hover {
  height: 2.2rem;
  transition: .3s ease-out;
  /* border-radius: 50%; */
}
.midpages {
  display: flex;
  /* padding: 0 14rem; */
  align-items: center;
}
.li {
  padding: 0 1rem;
}
.li:hover {
  font-weight: bold;
}
.link:hover {
font-size: 1rem;}

.active_menu {
  /* background-color: #fff; */
  color: #fff;
}

.right {
  display: flex;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
}
.icon {
  padding: 0.41rem;
}
.mobile_menu {
  display: none;
}
