.servepage {
  /* height: 90vh; */
  color: var(--darkpink);
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* padding: 4rem; */
  /* background-color: #c19797; */
}
.servebox {
  padding: 2rem;
  /* background-color: #676161; */
  /* margin: 1rem; */
}

.serve {
  text-align: center;
}
.serv { 

  display: flex;
  padding:  0 14rem;
}
.service {
  /* background-color: #e3cce4; */
  /* justify-content: space-around; */
  /* padding: 0 13rem; */
}
.ser {
  padding: 3rem ;
}
.imgserve{
  width: 260px;
  height: 200px;
  border-radius: 1rem;
}
.imgserve:hover{
  width: 280px;
  height: 220px;
  border-radius: 1rem;
  transition: .3s ease-out;
}