.why{
    /* background-color: #e99ae3; */
    display: flex;
    height: 70vh;
    padding: 8rem 14rem;
    /* padding: var(--padding14); */
}
.whyleft{
    flex: 1;
}
.whyright{
    flex: 1;
}
.rightlist{
    padding:  2rem 0;
}
.whyp{
    font-weight: 700;
    display: flex;align-items: center;
}
.imgwhy{
    height: 100%;
    border-radius: 1rem;
}